System Requirements
===================

- Pico-Second Finality
- No Async
- Low Latency Inter Core Communication
- Pre-Warmed Caching
- Full Internal Observability (Message Tracking)
- Fully Persistent Messages (High-Perf DB)
- L2/L3 based Orderbooks
- Concurrent handling of multiple trading algos
- FIX, NASDAQ ITCH
- Matching Engine in Exchange Co-Location Facility
- disruptor-rs LMAX lib with ~9ns latency and 100 M tps
- hardware clock instead of OS: https://www.felixcloutier.com/x86/rdtscp
- high performance websockets on Tokio stack: https://github.com/Gelbpunkt/tokio-websockets
- SIMD optimizations
